.example-container {
  width: 100vw;
  height: 90vh;
}

.example-sidenav-content {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  width: 200px;
}
.toolbar-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.user {
  margin: 10px;
  width: 150px;
}